*{
    font-family: "Poppins", sans-serif;
}


.nav-links li {
    list-style: none;
    display: inline;
}

.nav-links li a{
    text-decoration: none;
    color: inherit;
}


h1{
    font-weight: 700;
    text-align: center;
    font-size: 61.04px;
    

}


h2{
    font-weight: 700;
    text-align: center;
    font-size: 48.83px;
    
}



h3{
    font-weight: 700;
    text-align: center;
    font-size: 39.06px;
}

p{
    font-size: 20px;
    font-weight: 400;
}

footer p{
    font-size: 10.8px;
}



